/node_modules
/public
/public/storage
/storage/*.key
/vendor
/userImage
/userImage1
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
